    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainNav">
      <!--<div class="container">-->
        <a class="navbar-brand" onclick="myJsFunc();">
          <img src="/img/logo.png" alt="">
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          </ul>
          <!--<span class="navbar-text">
            EN VIVO MUY PRONTO
          </span>-->
        </div>
    </nav>
    <section id="about">
      <div class="container-fluid">
          <div class="row" id="inicio">
            <div class="col-md-3">
              <ul class="list-group" id="lista">
                <li class="list-group-item {{bullrich}}" id="0" ng-click="ver_data(0)">
                  <!--<img src="http://via.placeholder.com/50x50" class="img-circle" alt="125x125">-->
                  <div class="color bullrich"></div>
                  Esteban Bullrich
                </li>
                <li class="list-group-item {{carrio}}" id="4" ng-click="ver_data(4)">
                  <!--<img src="http://via.placeholder.com/50x50" class="img-circle" alt="125x125">-->
                  <div class="color carrio"></div>
                  Elisa Carrio
                </li>
                <li class="list-group-item {{filmus}}" id="5" ng-click="ver_data(5)">
                  <!--<img src="http://via.placeholder.com/50x50" class="img-circle" alt="125x125">-->
                  <div class="color filmus"></div>
                  Daniel Filmus
                </li>
                <li class="list-group-item {{kirchner}}" id="1" ng-click="ver_data(1)">
                  <!--<img src="http://via.placeholder.com/50x50" class="img-circle" alt="125x125">-->
                  <div class="color kirchner"></div>
                  Cristina Kirchner
                </li>
                <li class="list-group-item {{massa}}" id="3" ng-click="ver_data(3)">
                  <!--<img src="http://via.placeholder.com/50x50" class="img-circle" alt="125x125">-->
                  <div class="color massa"></div>
                  Sergio Massa
                </li>
                <li class="list-group-item {{randazzo}}" id="2" ng-click="ver_data(2)">
                  <!--<img src="http://via.placeholder.com/50x50" class="rounded float-left" alt="125x125">-->
                  <div class="color randazzo"></div>
                  Florencio Randazzo
                </li>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-12">
                  <canvas id="base" class="chart-bubble" chart-data="data" chart-colors="colors" chart-labels="labels"
                    chart-series="series" chart-options="options" chart-dataset-override="dataOverride" style="margin-left: -80px;">
                  </canvas>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer" style="text-align:center">
      <span class="text-muted">DESCUBRIR MÁS EN <a href="https://viveogroup.com/es/big-data-analytics" target="__blank"><img src="img/LOGOVIVEO.png" width="100" height="25"></a> </span>
    </footer>
